@page "/students/edit"
@using Microsoft.EntityFrameworkCore
@using Academy.Models
@inject IDbContextFactory<Academy.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Student</h2>
<hr />
@if (Student is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Student" OnValidSubmit="UpdateStudent" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Student.StudentId" value="@Student.StudentId" />
                <div class="mb-3">
                    <label for="lastname" class="form-label">LastName:</label>
                    <InputText id="lastname" @bind-Value="Student.LastName" class="form-control" />
                    <ValidationMessage For="() => Student.LastName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="firstname" class="form-label">FirstName:</label>
                    <InputText id="firstname" @bind-Value="Student.FirstName" class="form-control" />
                    <ValidationMessage For="() => Student.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="middlename" class="form-label">MiddleName:</label>
                    <InputText id="middlename" @bind-Value="Student.MiddleName" class="form-control" />
                    <ValidationMessage For="() => Student.MiddleName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">BirthDate:</label>
                    <InputDate id="birthdate" @bind-Value="Student.BirthDate" class="form-control" />
                    <ValidationMessage For="() => Student.BirthDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Student.Email" class="form-control" />
                    <ValidationMessage For="() => Student.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <InputText id="phone" @bind-Value="Student.Phone" class="form-control" />
                    <ValidationMessage For="() => Student.Phone" class="text-danger" />
                </div>
                @* <div class="mb-3">
                    <label for="photo" class="form-label">Photo:</label>
                    <InputText id="photo" @bind-Value="Student.Photo" class="form-control" />
                    <ValidationMessage For="() => Student.Photo" class="text-danger" />
                </div> *@
                <div class="mb-3">
                    <label for="groupid" class="form-label">GroupId:</label>
                    <InputNumber id="groupid" @bind-Value="Student.GroupId" class="form-control" />
                    <ValidationMessage For="() => Student.GroupId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/students">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int StudentId { get; set; }

    [SupplyParameterFromForm]
    private Student? Student { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Student ??= await context.Students.FirstOrDefaultAsync(m => m.StudentId == StudentId);

        if (Student is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStudent()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Student!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StudentExists(Student!.StudentId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/students");
    }

    private bool StudentExists(int studentid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Students.Any(e => e.StudentId == studentid);
    }
}
