@page "/students/index"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Academy.Models
@using Academy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Academy.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Students">
    <PropertyColumn Property="student => student.LastName" />
    <PropertyColumn Property="student => student.FirstName" />
    <PropertyColumn Property="student => student.MiddleName" />
    <PropertyColumn Property="student => student.BirthDate" />
    <PropertyColumn Property="student => student.Email" />
    <PropertyColumn Property="student => student.Phone" />
    @* <PropertyColumn Property="student => student.Photo" /> *@
    <PropertyColumn Property="student => student.GroupId" />

    <TemplateColumn Context="student">
        <a href="@($"students/edit?studentid={student.StudentId}")">Edit</a> |
        <a href="@($"students/details?studentid={student.StudentId}")">Details</a> |
        <a href="@($"students/delete?studentid={student.StudentId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
