@page "/students"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademy.Models
@using BlazorAcademy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@rendermode InteractiveServer
<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Students">
    
        
     <PropertyColumn Sortable ="true" Title ="Фамилия"Property="student => student.last_name" />
    <PropertyColumn Sortable ="true" Title ="Имя"Property="student => student.first_name" />
    <PropertyColumn Sortable ="true" Title ="Отчество"Property="student => student.middle_name" />
    <PropertyColumn Sortable ="true" Title ="Дата рождения"Property="student => student.birth_date" Format="yyyy.MM.dd" />
    <PropertyColumn Sortable ="true" Title ="Лет"Property="student => student.Age" />
    <PropertyColumn Sortable ="true" Title ="E-mail"Property="student => student.email" />
    <PropertyColumn Sortable ="true" Title ="Телефон"Property="student => student.phone" />
    @* <PropertyColumn Property="student => student.photo" /> *@

    <TemplateColumn Context="student">
        <a href="@($"students/edit?stud_id={student.stud_id}")">Edit</a> |
        <a href="@($"students/details?stud_id={student.stud_id}")">Details</a> |
        <a href="@($"students/delete?stud_id={student.stud_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
