@page "/directions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademy.Models
@using BlazorAcademy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="directions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Directions">
    <PropertyColumn Property="direction => direction.direction_name" />

    <TemplateColumn Context="direction">
        <a href="@($"directions/edit?directionid={direction.direction_Id}")">Edit</a> |
        <a href="@($"directions/details?directionid={direction.direction_Id}")">Details</a> |
        <a href="@($"directions/delete?directionid={direction.direction_Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
