@page "/groups/create"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Group</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Group" OnValidSubmit="AddGroup" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="group_name" class="form-label">group_name:</label> 
                <InputText id="group_name" @bind-Value="Group.group_name" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Group.group_name" class="text-danger" /> 
            </div>        
           @*  <div class="mb-3">
                <label for="direction" class="form-label">direction:</label> 
                <input type "number" id="direction" @bind-Value="Group.direction" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Group.direction" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="weekdays" class="form-label">weekdays:</label> 
                <input id="weekdays" @bind-Value="Group.weekdays" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Group.weekdays" class="text-danger" /> 
            </div>     *@    
            <div class="mb-3">
                <label for="start_time" class="form-label">start_time:</label> 
                <Input type ="time" id="start_time" @bind="Group.start_time" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Group.start_time" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Group Group { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddGroup()
    {
        using var context = DbFactory.CreateDbContext();
        context.Groups.Add(Group);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/groups");
    }
}
