@page "/groups/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Group</h2>
<hr />
@if (Group is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Group" OnValidSubmit="UpdateGroup" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Group.group_id" value="@Group.group_id" />
                <div class="mb-3">
                    <label for="group_name" class="form-label">group_name:</label>
                    <InputText id="group_name" @bind-Value="Group.group_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Group.group_name" class="text-danger" />
                </div>
                @* <div class="mb-3">
                    <label for="direction" class="form-label">direction:</label>
                    <InputText id="direction" @bind-Value="Group.direction" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Group.direction" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="weekdays" class="form-label">weekdays:</label>
                    <InputText id="weekdays" @bind-Value="Group.weekdays" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Group.weekdays" class="text-danger" />
                </div> *@
                <div class="mb-3">
                    <label for="start_time" class="form-label">start_time:</label>
                    <InputDate id="start_time" @bind-Value="Group.start_time" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Group.start_time" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int group_id { get; set; }

    [SupplyParameterFromForm]
    private Group? Group { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Group ??= await context.Groups.FirstOrDefaultAsync(m => m.group_id == group_id);

        if (Group is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateGroup()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Group!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GroupExists(Group!.group_id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/groups");
    }

    private bool GroupExists(int group_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Groups.Any(e => e.group_id == group_id);
    }
}
