@page "/teachers/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Teacher</h2>
<hr />
@if (Teacher is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Teacher" OnValidSubmit="UpdateTeacher" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Teacher.teacher_id" value="@Teacher.teacher_id" />
                <div class="mb-3">
                    <label for="work_since" class="form-label">work_since:</label>
                    <InputDate id="work_since" @bind-Value="Teacher.work_since" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Teacher.work_since" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rate" class="form-label">rate:</label>
                    <InputNumber id="rate" @bind-Value="Teacher.rate" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Teacher.rate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">last_name:</label>
                    <InputText id="last_name" @bind-Value="Teacher.last_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Teacher.last_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">first_name:</label>
                    <InputText id="first_name" @bind-Value="Teacher.first_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Teacher.first_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="middle_name" class="form-label">middle_name:</label>
                    <InputText id="middle_name" @bind-Value="Teacher.middle_name" class="form-control" />
                    <ValidationMessage For="() => Teacher.middle_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="birth_date" class="form-label">birth_date:</label>
                    <InputDate id="birth_date" @bind-Value="Teacher.birth_date" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Teacher.birth_date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email:</label>
                    <InputText id="email" @bind-Value="Teacher.email" class="form-control" />
                    <ValidationMessage For="() => Teacher.email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">phone:</label>
                    <InputText id="phone" @bind-Value="Teacher.phone" class="form-control" />
                    <ValidationMessage For="() => Teacher.phone" class="text-danger" />
                </div>
                @* <div class="mb-3">
                    <label for="photo" class="form-label">photo:</label>
                    <InputText id="photo" @bind-Value="Teacher.photo" class="form-control" />
                    <ValidationMessage For="() => Teacher.photo" class="text-danger" />
                </div> *@
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/teachers">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private short teacher_id { get; set; }

    [SupplyParameterFromForm]
    private Teacher? Teacher { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Teacher ??= await context.Teachers.FirstOrDefaultAsync(m => m.teacher_id == teacher_id);

        if (Teacher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateTeacher()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Teacher!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TeacherExists(Teacher!.teacher_id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/teachers");
    }

    private bool TeacherExists(short teacher_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Teachers.Any(e => e.teacher_id == teacher_id);
    }
}
