<HeadContent><link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet"></HeadContent>
<div class="top-row ps-3 navbar navbar-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAcademy</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <i class="bi bi-people"></i> Students
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groups">
                <i class="bi bi-collection"></i> Groups
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="directions">
                <i class="bi bi-compass"></i> Directions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teachers">
                <i class="bi bi-person-badge"></i> Teachers
            </NavLink>
        </div>
    </nav>
</div>
<style>
    .nav-link {
        display: flex;
        align-items: center;
        line-height: 1;
    }
    
    .nav-link i {
        margin-right: 0.5rem;
        font-size: 1.1rem;
        line-height: 1;
    }
}
</style>